.mcontainer {
  display: flex;
}
.alltotal {
  background-color: rgb(55, 56, 56);
  width: 28%;
  max-height: 400px;
  color: white;
  margin-left: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.one {
  padding: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}
.pbtns {
  margin-top: 10px;
}
.carts {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.ccontainer {
  display: flex;
  height: 100px;
  background-color: rgb(197, 194, 194);
  align-items: center;
  justify-content: start;
  margin: 10px 10px 20px 10px;
}
.img {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img {
  width: 90%;
  height: 90%;
}
h3 {
  font-size: large;
  width: max-content;
}
span {
  font-size: small;
  min-width: max-content;
  margin-left: 10px;
  margin-right: 10px;
}
.cart-desc {
  width: 70%;
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: space-between;
}
.r-btn > button {
  padding: 4px 6px;
  background-color: red;
  border: none;
  border-radius: 5px;
}
.r-btn {
  margin-right: 5px;
}
.c-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-right: 10px;
}
.size {
  margin-top: 10px;
  margin-bottom: 10px;
}
.quantity {
  align-items: center;
}
.quantity button {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}
.btn {
  margin-top: 10px;
}

.orders {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .mcontainer {
    display: flex;
    flex-direction: column;
  }
  .alltotal {
    width: 90%;
    margin: auto;
  }
  .carts {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: min-content;
  }
  .ccontainer {
    display: flex;
    height: 250px;
  }
  .cart-desc {
    flex-direction: column;
    padding-left: 20px;
    align-items: flex-start;
  }
}
