.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 255);
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
  height: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: white;
}

.title {
  margin-left: 10px;
  width: 10%;
}
.category {
  width: 10%;
  height: 50%;
}
.category select {
  height: 100%;
  text-align: center;
}

.searchbox {
  width: 50%;
  margin-left: 1px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox input {
  width: 100%;
  height: 100%;
}
.cart {
  font-size: x-large;
  width: 7%;
}
.login {
  width: 9%;
  margin-right: 1%;
  height: 70%;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#red {
  color: red;
}
.login img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.login > .show {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: black;
  position: fixed;
  top: 60px;
  right: 190px;
  padding: 7px 15px;
  background-color: rgb(240, 242, 244);
  border-radius: 2px;
}

.show > .updatepass {
  margin-bottom: 2px;
  padding: 2px;
}
.login > .none {
  display: none;
  font-size: small;
  color: black;
}

.logout {
  width: 9%;
  margin-right: 1%;
  height: 50%;
}
.login button {
  width: 100px;
  height: 35px;
}
.logout button {
  width: 100%;
}
.mobile-menu {
  display: none;
  width: 0px;
}
.for-ham {
  display: none;
}
.first-grp {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
  }
  .title {
    margin-left: 3px;
    width: 35%;
  }
  .for-ham {
    display: flex;
    font-size: 30px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 123, 188);
    position: absolute;
    right: 0;
    top: 0;
  }
  .cart {
    width: 50%;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .ham-btn {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    margin: 10px 10px 5px 1px;
    font-size: 40px;
  }
  .none {
    display: none;
  }
  .mob-search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin: auto;
    height: 70px;
  }
  .mob-search > select {
    width: 100%;
    height: 100%;
  }
  .mob-btns {
    display: flex;
    flex-direction: column;
  }
  .mob-flex-col {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
  }
  .first-grp {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 20px;
  }
  .mob-link {
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  .mob-link-btn {
    color: black;
    margin-top: 10px;
  }
  .rounded-full {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }
  .sec-grp {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 10px;
    gap: 5px;
  }
  .login,
  .category,
  .logout {
    display: none;
  }
}
