.pcontainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(247, 241, 241);
  height: 100vh;
}
.or-pcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(247, 241, 241);
  height: 100px;
  gap: 10px;
  width: 90%;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.products {
  display: grid;
  width: 100%;
  grid-template-columns: 32% 33% 32%;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.primg {
  margin-bottom: 14px;
}
.primg img {
  height: 200px;
  width: 150px;
}

.product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 217, 217);
  padding: 10px;
  width: 95%;
  margin: 30px 1% 10px 3%;
}
.flex {
  display: flex;
}
.centerv {
  display: flex;
  align-items: center;
}
.price {
  align-items: center;
  margin: 10px;
}
.addtocart {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}
.addtocart button {
  width: 45%;
}
.rating {
  margin-bottom: 10px;
}
.star {
  display: flex;
}
.addtocart .link {
  text-decoration: none;
  color: black;
}
.viewmore {
  min-width: 140px;
  max-width: 150px;
}
.viewmore > button {
  width: 100%;
}

.product:hover {
  transform: scale(1.01);
}
.shipping-details {
  margin-left: 10px;
  gap: 10px;
}
.placeorder-main {
  display: grid;
  grid-template-columns: 60% 25%;
  gap: 20px;
  margin: 10px 7%;
}
.carts-items {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  align-items: flex-start;
  padding: 5px 10px;
}
.or-totals {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .products {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .or-pcontainer {
    height: max-content;
    margin-top: 10px;
    flex-direction: column;
    padding-left: 10px;
  }
  .placeorder {
    margin: 5px 5px 10px 10px;
  }
  .placeorder-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
