.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ad-title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.admin-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.admin-nav h2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
.prod-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: antiquewhite;
}
.ad-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}
.ad-name label {
  font-size: larger;
  width: 40%;
}
.ad-name input {
  width: 60%;
  height: 30px;
}
.com-btn > .green {
  background-color: green;
  color: white;
}
.ad-name button {
  width: 150px;
  height: 50px;
}
.prod-form img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.ad-products {
  display: grid;
  width: 95%;
  margin: 5px 0.5%;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.ad-products > .ad-product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 217, 217);
  padding: 10px;
  width: 95%;
  margin: 30px 1% 10px 3%;
}
.ad-prod-title {
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.ad-flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.ad-flex-desc {
  width: 100%;
  text-align: justify;
  margin: 5px 2px 10px 2px;
}
@media only screen and (max-width: 600px) {
  .admin-nav {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 5px;
  }

  .ad-products {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2px auto;
  }
  .admin-prod {
    width: 100%;
  }
}
